@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/EuclidCircularA-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/EuclidCircularA-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/EuclidCircularA-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'EuclidCircularA';
  src: url('/fonts/EuclidCircularA-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'EuclidCircularA', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-border {
  position: relative;
  display: inline-block;
  border-radius: 0.7rem;
  background: 
    linear-gradient(135deg, rgba(6, 175, 234, 1), rgba(163, 0, 163, 1)) padding-box,
    white;
  padding: 1px;
  transition: transform 0.3s ease;
}

.gradient-border:hover {
  transform: scale(1.1);
}

.gradient-border a {
  display: block;
  padding: 5px 25px;
  background: black;
  border-radius: inherit;
}


